<%= form_with model: [:admins, @income_type], local: true do |f| %>
        <div>
          <th>収入カテゴリ</th>
          <th><%= f.text_field :type_name %></th>
          <th><%= f.submit "変更を保存", class:'btn btn-success' %></th>
        </div>
          <% end %>